

.about {
	padding: 80px 0px 100px 0px;
	@media (max-width: $w767) {
		padding: 40px 0px 42px 0px;
	}
	&__container {}

	&__main {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 120px;
		@media (max-width: $w1279) {
			padding-top: 3px;
			flex-direction: column;
			align-items: center;
			gap: 80px;
		}
		@media (max-width: $w767) {
			gap: 42px;
		}
	}

	&__image {
		@media (max-width: $w1279) {
			order: 2;
		}
		@media (max-width: $w767) {
			padding: 0px 20px;
			
		}
	}

	&__img {
		@media (max-width: $w1279) {
			max-width: 100%;
		}
	}

	&__text-block {
		max-width: 430px;
		@media (max-width: $w1279) {
			order: 1;
		}
		@media (max-width: $w767) {
			padding: 0px 15px;
			text-align: justify;
			line-height: 160%;
		}
	}

	&__tittle {
		font-size: 35px;
		line-height: 130%;
		color: #545454;
		letter-spacing: 0.06em;
		margin-bottom: 22px;
		@media (max-width: $w767) {
			font-size: 25px;
			br {
				display: none;
			}
			padding: 0 10%;
			text-align: center;
			letter-spacing: 0.06em;
			max-width: 320px;
		}
	}

	&__text {
		font-family: 'Arial';
		font-size: 15px;
		line-height: 160%;
		color: #4C4C4C;
	}
	&__text p:not(:last-child) {
		margin-bottom: 25px;
		@media (max-width: $w767) {
			margin-bottom: 23px;
		}
	}
}
